PORT=4318
PUBLISH_PASSWORD=change-me
GITHUB_TOKEN=ghp_or_github_pat_here
GITHUB_OWNER=meteorcyclops
GITHUB_REPO=japan-trip-2026
GITHUB_BRANCH=master
GITHUB_CONTENT_PATH=data/trip.json
ALLOWED_ORIGIN=https://travel.koxuan.com
